
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');

.background{
    background-image: url(../public/image/dragon-scales.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.background1{
    background-image: url(../public/image/dragon-scales.png);
    height: 500vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#view{
    width: 100%;
    background-color: purple;
}





